<div class="container main-box">
    <div class="blog-post">
        <ul class="list-group">
            <% @archives_info.each do |article_info| %>
                <li class="list-group-item">
                    <span class="badge"><%= article_info[:time] %></span>
                    <%= link_to article_info[:title], article_path(article_info[:id]) %>
                </li>
            <% end %>
        </ul>
    </div>
</div>