<div class="container">
    <div class="blog-post blog-main">
        <h2 class="blog-post-title">
            <%= @article.post_title %>
        </h2>
        <p class="blog-post-meta">
            <%= @article.updated_at.strftime("%Y-%m-%d") %> by
            <a href="#">Mark</a>
        </p>
        <p>
            <%= @markdown_text %>
        </p>
    </div>
</div>