<div class="container">
    <div class="blog-post">
        <h2 class="blog-post-title">
            <%= @article.post_title %>
        </h2>
        <p class="blog-post-meta">
            <%= @article.updated_at %> by
            <a href="#">Mark</a>
        </p>
        <p>
            <%= @article.post_text %>
        </p>
    </div>
</div>